
{%  extends 'main/layoute.html'%}

    {% block title %}

        <title>Сайт о фильмах</title>

    {% endblock %}

    {% block content %}



       <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Добро пожаловать на наш кино-сайт!</h1>
            <p class="lead">Сайт предлагает ознакомиться с фильмами и оставить описание понравившегося вам фильма и не только понравившегося.</p>
            <hr class="my-4">
            <p>Начните исследовать наш каталог фильмов прямо сейчас.</p>
            <a class="btn btn-primary btn-lg" href="news" role="button">Узнать больше</a>
        </div>
    </div>

    {% endblock %}
